/**
 * @name Pitroniy
 * @author Pitronic
 * @description Mega ultra theme by Pitronic
 * @version 0.0.4
 */

:root {

    /* НАСТРОЙКИ */

    --background-color: #6c2147;    /* Задний фон */
    --opacity: 30%;                   /* Итенсивность */
    /*rgb(Красный, зелённый, синий)*/
    --profile-border-color1: rgb(255, 255, 255);  /* Первый цвет обводки*/
    --profile-border-color2: rgb(0, 0, 0);  /* Второй цвет обводки */
    --profile-color: rgb(0, 0, 0);          /* Цвет профиля */
    --profile-border-speed: 3s;       /* Скорость обводки возле профиля */

    /* --------- */
    


    --custom-theme-base-color: var(--background-color);
    --custom-theme-base-color-amount: var(--opacity);
    
    --profile-primary-color: color-mix(in srgb, var(--background-color), var(--profile-border-color1));
    --profile-secondary-color: color-mix(in srgb, var(--background-color), var(--profile-border-color2));
    --profile-tertiary-color: color-mix(in srgb, var(--background-color), var(--profile-color) 75%);
}

.panel__5dec7 { border-radius: 5px; }

@property --pitroniy-rotate {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.panels__5e434, .panels__5e434::before {
    background-image: conic-gradient(from var(--pitroniy-rotate),
    var(--profile-primary-color), 
    var(--profile-secondary-color), 
    var(--profile-primary-color),
    var(--profile-secondary-color),
    var(--profile-primary-color)
    );
    border-radius: 5px;
    bottom: 10px;
    animation: var(--profile-border-speed) rotate linear infinite;
}
.panels__5e434::after {
    background: var(--profile-tertiary-color);
    content: '';
    position: absolute;
    width: 98%;
    border-radius: 5px;
    height: 89%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    box-shadow: 0px 0px 10px 3px var(--profile-secondary-color) inset;
}
.panels__5e434::before {
    content: '';
    position: absolute;
    width: 102%;
    border-radius: 5px;
    height: 111%;
    filter: blur(1.5rem);
    opacity: 50%;
    z-index: -2;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

@keyframes rotate {
    from { --pitroniy-rotate: 0deg; }
    to { --pitroniy-rotate: 360deg; }
}