/**
 * @name Pitroniy
 * @author Pitronic
 * @description Mega ultra theme by Pitronic
 * @version 0.1.2
 */

:root {
    --background-color: #aac;
    --opacity: 50%;
    --profile-color: rgb(30, 30, 30);
    --profile-border-speed: 3s;
    
    --pitroniy-color-black: color-mix(in srgb, var(--background-color), black 30%);
    --pitroniy-color-white: color-mix(in srgb, var(--background-color), white 30%);

    --custom-theme-base-color: var(--background-color);
    --custom-theme-base-color-amount: var(--opacity);
    
    --profile-border-color1: color-mix(in srgb, var(--background-color), white 25%);
    --profile-border-color2: color-mix(in srgb, var(--background-color), black 25%);
    --profile-primary-color: color-mix(in srgb, var(--background-color), var(--profile-border-color1) 75%);
    --profile-secondary-color: color-mix(in srgb, var(--background-color), var(--profile-border-color2) 25%);
    --profile-tertiary-color: color-mix(in srgb, var(--background-color), var(--profile-color) 75%);
}

@property --pitroniy-rotate {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.bar_c38106 {
    background: linear-gradient(
        var(--pitroniy-color-white),
        var(--pitroniy-color-black)
    );
}
.panels__5e434, .panel__5dec7 { border: none; }
.panels__5e434, .panels__5e434::after {
    background-image: conic-gradient(from var(--pitroniy-rotate),
        var(--profile-border-color1),
        var(--profile-border-color2),
        var(--profile-border-color1),
        var(--profile-border-color2),
        var(--profile-border-color1)
    );
    animation: 3s rotate linear infinite;
}
.panels__5e434::after {
    content: '';
    position: absolute;
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    filter: blur(1.5rem);
    z-index: -1;
}
.panels__5e434::before {
    content: '';
    position: absolute;
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: inherit;
    margin: auto;
    background: var(--profile-tertiary-color);
}
.panel__5dec7 {
    background: color-mix(in hsl, transparent, var(--profile-secondary-color));
    visibility: hidden;
    height: 0px;
}

@keyframes rotate {
    from { --pitroniy-rotate: 0deg; }
    to { --pitroniy-rotate: 360deg; }
}